/*
*********************************************
*** SMALL(landspace phones, 576px and up) ***
*********************************************
*/
@media (max-width: 575px) {
    .header-area .main-menu .navbar .nav-link:hover {
        border-bottom: none;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        background: none;
        font-weight: bolder;
        transition: 0.5s;
    }
    .sect-porfolio .container .head-content .sect-title {
        padding-top: 70px;
        margin: 40px;
    }
}
@media (min-width: 576px) {
    .header-area .main-menu .navbar .nav-link
    {
        padding: .5em 1rem;
    }
    .card-container .card {
        max-width: 240px;
    }
}
/*
*************************************
*** MEDIUM(tablets, 760px and up) ***
*************************************
*/
@media (min-width: 760px) {
    .header-area .main-menu .navbar .nav-link
    {
        font-size: 16px;
    }
    .main-info {
        padding-bottom: 42px;
        margin-bottom: 78px;
    }
    .main-info .container {
        bottom: -120px;
    }
    .card-container .card {
        max-width: 360px;
    }
}
/*
*************************************
*** LARGE(Desktops, 992px and up) ***
*************************************
*/
@media (min-width: 992px) {
    .card-container .card {
        max-width: 240px;
    }

}
/*
*************************************************
*** EXTRA LARGE(Large desktop, 1200px and up) ***
*************************************************
*/
@media (min-width: 1200px){
    .card-container .card {
        max-width: 360px;
    }
}